{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock %}
{% block content %}

    <div class="edit-profile-form-container">
        <div class="edit-profile-form">
            <h2>Edit profile</h2>
            <form method="POST" action="{% url 'edit profile' request.user.pk %}">
                {{ form.as_p }}
                {% csrf_token %}
                <button class="edit-profile-button" type="submit">Edit</button>
            </form>
        </div>
    </div>

{% endblock %}
