.edit-recipe-form-container {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.edit-recipe-form {
    background-color: papayawhip;
    display: block;
    width: 500px;
    border: 0.1px solid black;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
}

.edit-recipe-form h2 {
    font-size: 40px;
    text-align: center;
}

.edit-recipe-button {
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 3px 8px;
    text-decoration: none;
    margin-top: 20px;
}

.edit-recipe-button:hover {
    background-color: forestgreen;
}

.edit-recipe-form input {
	background-color: lightgrey;
	border: 0.1px solid black;
	border-radius: 5px;
	height: 30px;
	width: 100%;
	padding-left: 2px;
	margin-top: 5px;
    margin-bottom: 10px;
}

.edit-recipe-form textarea {
    background-color: lightgrey;
	border: 0.1px solid black;
	border-radius: 5px;
	height: 100px;
	width: 100%;
	padding-left: 2px;
	margin-top: 5px;
    margin-bottom: 10px;
}

.edit-recipe-form label {
    font-size: 20px;
}